@import "../root.css";

.mainContainer {
  text-align: center;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  background-color: white;
}

.mainContainer .h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: black;
  text-transform: capitalize;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.showMoreBtn {
  width: 10rem;
  padding: 0.5rem 0.5rem;
  border-radius: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: var(--button-red);
  border: none;
  outline: none;
  margin-top:3rem;
}

.showMoreBtn:hover,
.showMoreBtn:active {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.noStories {
  font-size: 1.2rem;
  padding-top: 0rem;
  color: gray;
}