@import "../root.css";

.mainContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background-color: var(--backdrop);
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 9;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  color: black;
  border-radius: 10px;
  min-height: 58%;
  width: 50%;
  background-color: var(--white-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
  }

.closeIcon {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem;
  fill: var(--error-red);
  cursor: pointer;
  border: 2px solid var(--error-red);
  border-radius: 100%;
}

.innerBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slideAddMsg {
  font-size: 0.7rem;
  width: 100%;
  padding: 0.5rem;
  text-align: right;
}

.slideBox{
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.slide{
  padding: 0.5rem;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.819);
  border-radius: 10px;
  max-width: 4rem;
  width: flex-1/6;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.1s linear;
}
.slide:hover {
  border: 2px solid var(--button-blue);
}

.activeSlide {
  transform: scale(1.1);
  border: 2px solid var(--button-blue);
}

.slideCloseIcon{
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  top: 3px;
  right: 3px;
  stroke: red;
  stroke-width: 1px;
  fill: var(--error-red);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid red;
  border-radius: 100%;

}

.btn{
  padding: 0.6rem 1.5rem;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  color: black;
  width: 7rem;
  height: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-blue);
  cursor: pointer;
  outline: none;

}

.btn:hover{
  background-color: #0056b3;
    color: white;
}

.btn:active{
  background-color: #004080;
  color: white;
}

.addBtn{
  padding: 0.5rem;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.819);
    border-radius: 10px;
    width: 3.8rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.8rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.1s linear;
}

.formBox{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.inputBox{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label{
  font-size: 1.2rem;
  text-transform: capitalize;
}

.input{
  width: 70%;
  height: 2rem;
  outline: none;
  padding: 0.2rem;
}

.textarea{
  resize: none;
  width: 70%;
  height: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  padding: 0.2rem;
}

.select{
  width: 70%;
  height: 2rem;
  outline: none;
}

.option{
  font-weight: bold;
  font-size: 0.8rem;
  color: rgb(47, 47, 47);
}

.err{
  font-size: 0.9rem;
  color: red;
}
.errorMessage {
  font-size: 0.5rem;
  font-weight: bold;
  color: var(--error-red);
}

.actionBtnBox{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  
}


.prevNextBtnBox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.prevBtn{
  background-color: var(--button-green);
}

.nextBtn{
  background-color: var(--button-blue);
}

.postBtn{background-color: var(--button-red);
}


/* ---------------MEDIA QUERIES ---------------*/
@media only screen and (max-width: 900px) {
	.mainContainer {
		padding: 0;
	}
	.container {
		padding: 0;
		width: 90%;
		max-height: 75%;
	}

	.innerBox {
		flex-direction: row;
	}

	.slideBox {
		width: 20%;
		flex-direction: column;
		justify-content: start;
		gap: 0.5rem;
	}
	.slide {
		font-size: 0.8rem;
		height: 3.5rem;
	}
	.addBtn {
		height: 3.5rem;
	}
	.inputBox{
		width: 80%;
		flex-direction: column;
		align-items: start;
	}
	.input {
		width: 100%;
	}
	.textarea {
		width: 100%;
	}
	.select {
		width: 100%;
	}

	.slideAddMsg{
		width: 0;
		visibility: hidden;
	}
	.actionBtnBox {
		padding: 1rem 2rem;
	}

	.btn {
		width: 5rem;
		height: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (min-width: 901px) and (max-width: 1100px) {
	/* Styles for medium breakpoint */
	.container {
		width: 70%;
		height: 70%;
		padding: 2rem;
	}
}